@model List<FitFlow.Areas.Flow.Models.Views.ProcessMineModel>
@{
    ViewBag.Title = "Mine";
}

<h3>
    <span class="glyphicon glyphicon-new-window"></span>
    申請済一覧
</h3>
<div class="alert alert-info">
    「未完了」の申請のみ表示されます。
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>申請番号</th>
            <th>カテゴリ</th>
            <th>プロセス名</th>
            <th>申請日時</th>
            <th>タスク名</th>
            <th>割当ユーザ</th>
            <th>ダイアグラム</th>
            <th>閲覧</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.ProcessInstanceId</td>
                <td>@item.ProcessCategory</td>
                <td>@item.ProcessName</td>
                <td>@item.StartTime.ToString()</td>
                <td>
                    @foreach  (var taskinfo in item.TaskInfoList) {
                        @taskinfo.TaskName<br>
                    }
                </td>
                <td>
                    @foreach(var taskinfo in item.TaskInfoList) {
                        @taskinfo.TaskAssigneeName<br>
                    }
                </td>
                <td>
                    <a href="@(string.Format("{0}/runtime/process-instances/{1}/diagram", Session["ActivitiRestUrl"], item.ProcessInstanceId))" target="_blank">ダイアグラム</a>
                </td>
                @{
                    var url = Url.Action("Detail", "Forms", new { processInstanceId = item.ProcessInstanceId });
                }
                <td><a href="@url" class="btn btn-info btn-sm">閲覧</a></td>
            </tr>
        }
    </tbody>
</table>
