@model List<FitFlow.Models.Activiti.ACT_RE_PROCDEF>
@{
    ViewBag.Title = "Index";
}

<h3>
    <span class="glyphicon glyphicon-file"></span>
    プロセス一覧
</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>プロセス定義ID</th>
            <th>プロセスキー</th>
            <th>カテゴリ</th>
            <th>プロセス名</th>
            <th>開始</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@item.ID_</td>
            <td>@item.KEY_</td>
            <td>@item.CATEGORY_</td>
            <td>@item.NAME_</td>
            @{
                var url = Url.Action("Start", "Forms", new { area = "Flow", key= item.KEY_, version = item.VERSION_, processId = item.ProcessId() });
            }
            <td><a href="@url" class="btn btn-info btn-sm">申請</a></td>
        </tr>
        }
    </tbody>
</table>
