@model List<ActivitiClient.Models.ProcessDefinition>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4><span class="glyphicon glyphicon-th-list"></span> 検索結果</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>プロセス定義ID</th>
            <th>プロセスキー</th>
            <th>カテゴリ</th>
            <th>プロセス名</th>
            <th>開始</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Key</td>
            <td>@item.Category</td>
            <td>@item.Name</td>
            @{
                var url = Url.Action("Start", "Forms", new { area = "Flow", key= item.Key, version = item.Version, processId = item.ProcessId });
            }
            <td><a href="@url" class="btn btn-primary">申請</a></td>
        </tr>
        }
    </tbody>
</table>
