@model FitFlow.Areas.Flow.Models.Views.FormModel
@{
    ViewBag.Title = "Approve";
}

<h3>
    <span class="glyphicon glyphicon-check"></span>
    @Model.Task.Name
</h3>

<form id="process-form" role="form" class="form-horizontal well" action="/Tasks/Action" method="post">
    <fieldset>
        <legend>
            <span class="glyphicon glyphicon-pencil"></span>
            @Model.ProcessDefinition.Name
        </legend>
        @Html.Hidden("processDefinitionId", Model.ProcessDefinition.Id)
        @Html.Hidden("taskDefitionId", Model.Task.TaskDefinitionKey)
        @Html.Hidden("taskId", Model.Task.Id)

        @foreach (var formGroup in Model.FormDatas.AsGroupList(f => f.Complement.Nvl(v => v.Style.CalcSize, 2), 2)) {
            <div class="form-group">
                @foreach (var form in formGroup) {
                    @FormsHelper.EncodeForm(form)
                }
            </div>
        }
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <a href="/Flow/ProcessDefinitions" class="btn btn-default btn-sm">戻る</a>
                <button type="button" class="btn btn-danger btn-sm execute-bpm">承認</button>
            </div>
        </div>
    </fieldset>
</form>
