@model FitFlow.Areas.Flow.Models.Views.ProcessStartModel
@{
    ViewBag.Title = "Start";
}

<h3>
    <span class="glyphicon glyphicon-file"></span>
    @Model.StartTask.Name
</h3>

<form id="process-form" role="form" class="form-horizontal well" action="/Tasks/Start" method="post">
    <fieldset>
        <legend>
            <span class="glyphicon glyphicon-pencil"></span>
            @Model.ProcessName
        </legend>
        @Html.Hidden("processDefinitionId", string.Format("{0}:{1}:{2}", Request.Params["key"], Request.Params["version"], Request.Params["processId"]))
        @Html.Hidden("taskDefitionId", Model.StartTask.Id)

        @foreach (var formGroup in Model.FormDatas.Where(f => f.FormProperty.IsReadable).AsGroupList(f => f.Complement.Nvl(v => v.Style.CalcSize, 2), 2)) {
            <div class="form-group">
                @foreach (var form in formGroup) {
                    @FormsHelper.EncodeForm(form)
                }
            </div>
        }
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <a href="/Flow/ProcessDefinitions" class="btn btn-default btn-sm">戻る</a>
                <button type="button" class="btn btn-danger btn-sm execute-bpm">申請</button>
            </div>
        </div>
    </fieldset>
</form>

